@{
    ViewData["Title"] = "Login";
}

<form method="POST" action='@Url.Action("Logar")'>

    <label for="">Nome</label>
    <input type="text">

    <label for="">E-mail</label>
    <input type="text">

    <label for="">Senha</label>
    <input type="text">

</form>