@{
    ViewData["Title"] = "Login";
}

<form method="POST" action='@Url.Action("Logar")'>

    <label for="">Nome</label>
    <input type="textl">

    <label for="">E-mail</label>
    <input type="email">

    <label for="">Senha</label>
    <input type="password">

    <button type="submit">Enviar</button>

</form>